@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300;400;500;600;700&display=swap');
:root{
    --nav-font-primary : #16967F;
    --nav-font-secondary : #797D7D;
    --nav-bg-color : #fff;
    --bg-container-primary : #30A48F;
    --card-banner-color : #D9D9D9;
    --font-primary : rgb(0, 0, 0);
}
body{
    margin: 0;
    font-family: 'Poppins', 'Pridi';
}
p {
    margin: 0;
}
.custom-nav{
    background-color: var(--nav-bg-color);
    display: flex;
    height: 60px;
    padding: 3px 0px 3px 10px;
    border-bottom: 1px outset;
}
.custom-nav > div , .custom-nav > img{
    margin-top: auto;
    margin-bottom: auto;
}
.custom-nav > div > p{
    font-size: 1rem;
    margin-left: 10px;
}
.custom-nav > div > p:nth-child(1){
    color: var(--nav-font-primary);
    font-weight: bold;
}
.custom-nav > div > p:nth-child(2){
    color: var(--nav-font-secondary);
    font-weight: 500;
}
/* nav */
.text-bg-light{
    width: 627px;
    height: 107px;
}
.card-body{
    display: flex;
    align-items: center;
}
.card-content-left{
    display: flex;
    align-items: center;
    width: 182px;
    height: 46px;
    background-color: var(--card-banner-color);
    border: 1px solid var(--card-banner-color);
    border-radius: 5px;
    color: var(--font-primary);
    padding: 15px;
    gap: 10px;
}
.card-content-left > p:nth-child(3)
{
    margin-left: 25px;
    font-size: 1.5rem;
    font-weight: 500;
}
.card-text{
    margin-left: 10px;
}
